.login-page, .register-page {
    background: $color-very-light-blue;

    .form-width {
        max-width: 600px;
        width: 100%;
    }

    .title {
        font-size: 30px;
        font-weight: bold;
    }

    input, label {
        font-size: 20px;
    }

    .alert {
        font-size: 16px;
        padding: 0.75rem;
    }

    button {
        color: $color-white;
        border: none;

        &:hover {
            background: $color-light-blue;
        }
    }

    .invalid-feedback {
        font-size: 14px;
        margin-bottom: 0.25rem;
    }
}