@import './variables.scss';

.auth-layout {
    flex: 1;
    display: flex;
}

.login-page, .register-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $color-very-light-blue;

    .title {
        color: $color-black;
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
    }

    .form-wrapper{
        width: 100%;
        max-width: 600px;
        padding: 24px;
        background: $color-white;
        border-radius: 10px;
        box-shadow: 0 5px 50px $color-gray-300;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 400px;
        font-size: 20px;
    }

    input {
        width: 75%;
        height: 60px;
        padding: 0 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 20px;
    }

    button {
        width: 75%;
        height: 60px;
        border: none;
        border-radius: 5px;
        background: $color-base-blue;
        color: $color-white;
        cursor: pointer;

        &:hover {
            background: $color-light-blue;
        }
    }
}

.register-page form {
    height: 500px;
}