@import './variables.scss';

nav {
    background: $color-base-blue;
    color: white;
    display: flex;
    gap: 12px;
    z-index: 10;
    align-items: center;
}

.nav-button {
    color: white;
    text-decoration: none;
    padding: 26px;
    border-radius: 10px;

    &:hover {
        background: $color-light-blue;
    }
}

.right-side {
    margin-left: auto;
    display: flex;
}

.left-side {
    display: flex;
}

.router-link-exact-active {
    background: $color-light-blue;
}